<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>FAA Airlines &#9992</title>
</head>
<body>
    <nav>
        <ul>
            <% if(user){ %>
                <li><a style="color:white;" href="/users/profile">Profile</a></li>
                <li><a style="color:white;" href="/">Booking page</a></li>
                <li><a style="color:white;" href="/rates">Rating page</a></li>
                <li><a style="color:white;" href="/users/logout">Logout</a></li>
                
            <% } else{ %> 
                <li><a style="color:white;" href="/users/new">Sign Up</a></li>
                <li><a style="color:white;" href="/users/login">Login</a></li>
                
            <% } %>
        </ul>
    </nav>
    <h1 style="text-align:center;color:white;">  &#9992 FAA AIRLINES &#9992 </h1>
     <%- body %>
    <style>
         p {  
          background-image: url('');
         }  
    
    
    </style>
      


     
</body>
</html>