<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>FAA Airlines &#9992</title>
</head>
<body>
    <nav>
        <ul>
            <% if(user){ %>
                <li><a href="/users/profile">Profile</a></li>
                <li><a href="/users/logout">Logout</a></li>
            <% } else { %> 
                <li><a href="/users/new">Sign Up</a></li>
                <li><a href="/users/login">Login</a></li>
            <% } %>
        </ul>
    </nav>
    <h1 style="text-align:center;">  &#9992 FAA AIRLINES &#9992 </h1>
     <%- body %>
    <style>
         p {  
          background-image: url('https://img.freepik.com/premium-photo/male-hand-holding-plane-airplane-icon-blue-background-banner-nline-ticket-purchase-travel-icons-about-travel-planning-transportation-hotel-flight-passport-flight-ticket-booking-concept_150455-6482.jpg?w=2000');
         }  
    
    
    </style>
      


     
</body>
</html>