<h1 style="color:red;">How is your experience with FAA AIRLINES ?</h1>
<h1>⭐⭐⭐⭐⭐</h1>


<form action="/rates" method="POST">

    <input type="text" name="rate" autocomplete="off">

    <button type="submit">Add comment</button></br>
    <h3 style="color:white;">Your Feedback:</h3>


</form>

  


