<h2>Choose your destination</h2>

 <img src="https://www.planetware.com/photos-large/F/france-paris-eiffel-tower.jpg" alt="Paris" style="width:200px;height:200px;"> </br>
 <form action="/users/book/Paris" method="post">
     <button type="submit">Book now !</button></br>  
 </form>

<img src="https://e3.365dm.com/21/04/2048x1152/skynews-big-ben-london-parliament_5357329.jpg" alt="London" style="width:200px;height:200px;"></br>
<form action="/users/book/London" method="post">
    <button type="submit">Book now !</button></br>  
</form>


<img src="https://media.istockphoto.com/photos/kuwait-tower-city-skyline-glowing-at-night-taken-in-kuwait-in-2018-picture-id1125194570?k=20&m=1125194570&s=612x612&w=0&h=f_8RRkV5z8TmIVCkxrfaKMNAzHAa97gOfzjFS1JabhU=" alt="Kuwait" style="width:200px;height:200px;"></br>
<form action="/users/book/Kuwait" method="post">
    <button type="submit">Book now !</button></br>  
</form>
