body {  
    background-image: url('https://img.freepik.com/premium-photo/passport-airplane-air-ticket-blue-background-travel-concept-copy-space_130265-1929.jpg?w=2000');
    background-size:cover;
    background-repeat: no-repeat;
}









